body { 
	font-family: Monospace;
	background-color: #000;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	height: 100vh;
}

.container {
	height: 100vh;
}

.item {
	height: 50%;
}

/*
#renderer > *{
	display: flex-item;
}

/*
@media screen and (max-width: 70em) {
	.container {
		box-sizing: border-box;
		flex-direction: column;
	}

	.item {
	}
}

*/
